.errors-list {
    list-style: none;
    padding: 0;
    margin: 20px;
}

.errors-list .error {
    padding: 10px;
    background: #d71616;
    border: 3px solid #bb1313;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.errors-list-success .error-success {
    padding: 10px;
    background: #47d712;
    border: 3px solid #1d8d0a;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.field .field-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.field input,textarea {
    padding: 10px;
    margin: 10px;
    width: 70%;
}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header ul {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: flex-end;
    list-style: none;
}

header ul li {
    padding: 10px;
    transition: background-color .3s;
}

:root {
    --table-header-text-color: white;
    --table-grid-color: grey;
    --primary-base-color: cyan;
}
table {
    width: 100%;
    margin: 20px 0;
}
table thead {
    padding: 0 10px;
    font-size: 20px;
    color: var(--table-header-text-color);
    background-color: var(--primary-base-color);
    text-align: left;
}
table thead th {
    border-top: none;
}
table tr:last-child td {
    border-bottom: none;
}
table th, table td {
    padding: 10px;
    border: 2px solid var(--table-grid-color);
}
table th:first-child, table td:first-child {
    border-left: none;
}
table th:last-child, table td:last-child {
    border-right: none;
}
table th > a, table td > a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
}
table th > a:hover, table td > a:hover {
    text-decoration: none;
}
table th > a:visited, table td > a:visited {
    color: inherit;
}

