body {
    padding: 0;
    margin: 0;
    background-image: radial-gradient(circle farthest-corner at 5.6% 54.5%, rgba(47, 71, 79, 1) 0%, rgba(159, 188, 198, 1) 83.6%);
    background-repeat: no-repeat;
    min-height: 200vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul li a:hover {
    animation-name: backgroundColorAnimation;
    animation-duration: 3s;
}

@keyframes backgroundColorAnimation {
    from {
        background-color: #A50044;
    }
    to {
        background-color: blue;
    }
}

p.a {
    font-family: Arial;
    font-size: 16px;
    text-indent: 16px;
    line-height: 17px;
    justify-content: flex-end;
    text-align: justify;
    margin: 10px;
    color: aliceblue;
}

* {
    box-sizing: border-box;
}

.article_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 1280px;
    max-height: 720px;
    width: 50%;
}

.article_Title {
    display: block;
    margin-left: auto;
    width: 50%;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.article_div {
    padding: 8px;
}

.title_text {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.article-text {
    text-indent: 50px;
    text-align: justify;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #008CBA;
}

@media (max-width: 576px) {
    .article_image {
        padding: 100px 80px 33px 80px;
    }

    .article_div {
        padding: 100px 80px 33px 80px;
    }

    .messi_flyng {
        padding: 100px 80px 33px 80px;
    }
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


.error-heading {
    color: red;
    font-size: 28px;
    margin-bottom: 20px;
}

.message-heading {
    color: green;
    font-size: 28px;
    margin-bottom: 20px;
}